.full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.full-page main {
  flex: 1;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

.title-text::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 12px;
  width: 100%;
  background-color: rgba(255, 82, 82, 1);
}

.swal2-content {
  text-align: left !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slick-next,
.slick-prev {
  z-index: 1;
}
.slick-next {
  right: 16px;
}
.slick-prev {
  left: 16px;
}
.slick-next:before {
  font-size: large;
  color: #cf0a2c;
}
.slick-prev:before {
  font-size: large;
  color: #cf0a2c;
}
.slick-dots {
  bottom: -40px;
}
.slick-thumb li {
  width: 30px;
  height: 30px;
}
.swal2-container.swal2-grow-fullscreen > .swal2-modal {
  margin: 3rem 0;
}
